* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: armenian;
    list-style-position: inside;
}

ol {
 list-style-type: square;
 list-style-image: url(./../img/airport.png);
 list-style-position: inside;
}